/* {
  "presets": ["@babel/env", "@babel/react"],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-function-bind", "@babel/plugin-proposal-class-properties", "transform-remove-console"],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "useESModules": true
          }
        ]
      ]
    }
  }
}
 */

{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    // 解决编译中产生的重复的工具函数
    "@babel/plugin-transform-runtime",
    "transform-remove-console"
  ]
}
